<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="orm.mybatis.mapper.deptScheduleMapper">
	
	<resultMap id="bmap" type="java.util.Map"/>
	
	
	<select id="proc_conreslist" parameterType="map" statementType="CALLABLE">
		{ call proc_conreslist(#{i_month} , #{key, jdbcType=CURSOR
		                                   , mode=OUT
		                                   , javaType=java.sql.ResultSet
		                                   , resultMap=bmap})}
	</select>
	<select id="proc_emplist" parameterType="map" statementType="CALLABLE">
		{ call proc_empList( #{key, jdbcType=CURSOR
		                                   , mode=OUT
		                                   , javaType=java.sql.ResultSet
		                                   , resultMap=bmap})}
	</select>
	
	<insert id="emp_ins" parameterType="map"> <!-- 사원등록 쿼리문  -->
		INSERT INTO EMP(emp_name,emp_resnum,emp_photo,emp_pw
               ,emp_phone,emp_email,emp_no
               ,dept_no,emp_extend,emp_position
               ,emp_salary,emp_hiredate,emp_retiredate,emp_state
               ,emp_address)
   		VALUES(#{emp_name},#{emp_resnum},#{emp_photo},#{emp_pw}
               ,#{emp_phone},#{emp_email},#{emp_no}
               ,#{dept_no},#{emp_extend},#{emp_position}
               ,#{emp_salary},to_date(#{emp_hiredate},’yyyy-mm-dd’),to_date(#{emp_retiredate},’yyyy-mm-dd’),#{emp_state}
  		,#{emp_address});
	</insert>
	
	<select id="proc_empsear" parameterType="map" statementType="CALLABLE">
		{ call proc_empsear(#{u_input}, #{key, jdbcType=CURSOR
		                                   , mode=OUT
		                                   , javaType=java.sql.ResultSet
		                                   , resultMap=bmap})}
	</select>
	<select id="proc_nemplist" parameterType="map" statementType="CALLABLE">
		{ call proc_nemplist(#{u_empno}, #{key, jdbcType=CURSOR
		                                   , mode=OUT
		                                   , javaType=java.sql.ResultSet
		                                   , resultMap=bmap})}
	</select>
	
	<update id="emp_upd" parameterType="map"> <!-- 사원 수정쿼리문 -->
	UPDATE EMP
	SET    EMP_NAME = #{EMP_NAME}
      ,EMP_RESNUM = #{EMP_RESNUM}
      ,EMP_PHOTO = #{EMP_PHOTO}
      ,EMP_PW  = #{EMP_PW}
      ,EMP_PHONE  = #{EMP_PHONE}
      ,EMP_EMAIL = #{EMP_EMAIL}
      ,EMP_NO  = #{EMP_NO}
      ,DEPT_NO =  #{DEPT_NO}
      ,EMP_EXTEND  = #{EMP_EXTEND}
      ,EMP_POSITION = #{EMP_POSITION}
      ,EMP_SALARY  = #{EMP_SALARY}
      ,EMP_HIREDATE  = #{EMP_HIREDATE}
      ,EMP_RETIREDATE  = #{EMP_RETIREDATE}
      ,EMP_STATE = #{EMP_STATE}
      ,EMP_ADDRESS = #{EMP_ADDRESS}
	WHERE EMP_NO = {#EMP_NO}
	COMMIT
	</update>
	
	<select id="proc_retirement" parameterType="map" statementType="CALLABLE">
		{ call proc_retirement(			 #{key, jdbcType=CURSOR
		                                   , mode=OUT
		                                   , javaType=java.sql.ResultSet
		                                   , resultMap=bmap})}
	</select>
	<select id="proc_searchretire" parameterType="map" statementType="CALLABLE">
		{ call proc_searchretire(#{u_input}, #{key, jdbcType=CURSOR
		                                   , mode=OUT
		                                   , javaType=java.sql.ResultSet
		                                   , resultMap=bmap})}
	</select>
	<select id="proc_dispatchlist" parameterType="map" statementType="CALLABLE">
		{ call proc_dispatchlist( #{key, jdbcType=CURSOR
		                                   , mode=OUT
		                                   , javaType=java.sql.ResultSet
		                                   , resultMap=bmap})}
	</select>
	<select id="proc_searchdispatch" parameterType="map" statementType="CALLABLE">
		{ call proc_searchdispatch(#{u_input}, #{key, jdbcType=CURSOR
		                                   , mode=OUT
		                                   , javaType=java.sql.ResultSet
		                                   , resultMap=bmap})}
	</select>
	
	<select id="proc_mapsearch" parameterType="map" statementType="CALLABLE">
		{ call proc_mapsearch(#{u_input}, #{key, jdbcType=CURSOR
		                                   , mode=OUT
		                                   , javaType=java.sql.ResultSet
		                                   , resultMap=bmap})}
	</select>
	<select id="proc_branchlist" parameterType="map" statementType="CALLABLE">
		{ call proc_branchlist( #{key, jdbcType=CURSOR
		                                   , mode=OUT
		                                   , javaType=java.sql.ResultSet
		                                   , resultMap=bmap})}
	</select>
	
	<insert  id="loc_ins"  >	<!--	지사등록 	  -->
	INSERT INTO dispatch_loc(dl_no,dl_name,dl_tel,dl_address,dl_note)
                  values(#{dl_no},#{dl_name},#{dl_tel},#{dl_address},#{dl_note});
	
	</insert>
	
	<select id="proc_delbranch" parameterType="map" statementType="CALLABLE">
		{ call proc_delbranch(#{u_input}, #{u_num}, #{key, jdbcType=CURSOR
		                                   , mode=OUT
		                                   , javaType=java.sql.ResultSet
		                                   , resultMap=bmap})}
	</select>
	
	<select id="proc_mlogin" parameterType="map" statementType="CALLABLE">
		{ call proc_mlogin(#{u_empno}, #{key, jdbcType=CURSOR
		                                   , mode=OUT
		                                   , javaType=java.sql.ResultSet
		                                   , resultMap=bmap})}
	</select>
	
	<select id="proc_loglist" parameterType="map" statementType="CALLABLE">
		{ call proc_loglist( #{key, jdbcType=CURSOR
		                                   , mode=OUT
		                                   , javaType=java.sql.ResultSet
		                                   , resultMap=bmap})}
	</select>
	
	<select id="proc_nemplist" parameterType="map" statementType="CALLABLE">
		{ call proc_nemplist( #{u_empno}, #{key, jdbcType=CURSOR
		                                   , mode=OUT
		                                   , javaType=java.sql.ResultSet
		                                   , resultMap=bmap})}
	</select>

	<update id="emp_upd" parameterType="map">		<!-- 저장 버튼 update -->
		UPDATE EMP
	SET    EMP_NAME = #{EMP_NAME}
      ,EMP_RESNUM = #{EMP_RESNUM}
      ,EMP_PHOTO = #{EMP_PHOTO}
      ,EMP_PW  = #{EMP_PW}
      ,EMP_PHONE  = #{EMP_PHONE}
      ,EMP_EMAIL = #{EMP_EMAIL}
      ,EMP_NO  = #{EMP_NO}
      ,DEPT_NO =  #{DEPT_NO}
      ,EMP_EXTEND  = #{EMP_EXTEND}
      ,EMP_POSITION = #{EMP_POSITION}
      ,EMP_SALARY  = #{EMP_SALARY}
      ,EMP_HIREDATE  = #{EMP_HIREDATE}
      ,EMP_RETIREDATE  = #{EMP_RETIREDATE}
      ,EMP_STATE = #{EMP_STATE}
      ,EMP_ADDRESS = #{EMP_ADDRESS}
	WHERE EMP_NO = {#EMP_NO}
      COMMIT;
	</update>

</mapper>






